$bg-color: rgb(129, 255, 56);
$alt-bg-color: rgb(58, 196, 196);
$text-color: rgb(77, 77, 77);
$alt-text-color: rgb(218, 218, 218);
$error-color: rgb(255, 161, 161);
$info-color: rgb(249, 255, 161);

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  color: $text-color;
  .content {
    display: grid;
    margin: 1rem;
  }
}
h1 {
  font-size: 3rem;
}

@mixin animate($animation, $duration, $method, $times, $direction) {
  animation: $animation $duration $method $times $direction
}
@mixin keyframes($name) {
  @keyframes #{$name} {
      @content
  }
}